@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
:root {
    --color-primary: #233a95;
    --color-secondary: #2bbef9;
}

/* Buttons */
.btn{
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    &:hover{
        opacity: .9;
    }

    &.btn--primary{
        background-color: var(--color-primary, #233a95);
        color: #fff;
        border-color: var(--color-primary, #233a95);
    }

    &.btn--secondary{
        background-color: var(--color-secondary, #2bbef9);
        color: #fff;
        border-color: var(--color-secondary, #2bbef9);
    }

    &.btn--ext:after{
        content: '›';
        margin-left: 0.2rem;
    }
}

/* Custom */
.product-slider, .home-slider{
    .swiper-button-prev, .swiper-button-next{
        top: 50%;
        color: #202435;
        border: 1px solid #efefef;
        border-radius: 50%;
        background-color: #fff;
        text-shadow: 0 0 0;
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07);
        box-shadow: 0 2px 4px rgba(0,0,0,.07);
        width: 40px;
        height: 40px;
        opacity: 1;
        &:hover{
            opacity: 1;
        }

        &:after{
            font-size: 12px;
        }
    }

    &.product-slider{
        .swiper-button-prev, .swiper-button-next{
            top: 30%;
        }

        .swiper-button-prev{
            left: -20px;
        }

        .swiper-button-next{
            right: -20px;
        }
    }

    .slide-item{
        .slide-subtitle{
            > strong {
                display: block;
                font-size: 2rem;
                margin-top: 1rem;
            }

            > em{
                color: red;
            }
        }

        &.slide-item-alt{
            color: #fff
        }
    }
}

.product-card{
    .product-buttons{
        display: flex;
        flex-direction: column;

        > a{
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-bottom: 6px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            color: #333;
            background-color: #fff;
            border: 1px solid #efefef;
            -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.1);
            box-shadow: 0 3px 5px rgba(0,0,0,.1);
            opacity: 0;
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
            -webkit-transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99);
            transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99);
            transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),transform 0.25s cubic-bezier(.17,.62,.44,.99);
            transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),transform 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99);

            &:hover{
                color: #fff;
                background-color: var(--color-primary, #233a95);
                border-color: transparent;

                svg{
                    fill: #fff;
                }
            }
        }
    }

    &:hover{
        .product-buttons{
            > a{
                opacity: 1;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
}

.product-gallery{
    .swiper-slide-thumb-active{
        border: 1px solid var(--color-primary, #233a95);
        opacity: .5;
        border-radius: 4px;
        overflow: hidden;
    }
}

/* Card */
.card{
    text-align: center;
    background-color: #f3f3f6;
    padding: 1.5rem 1rem;
    border-radius: 8px;

    .card__description{

    }

    .card__title{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    img{
        width: 36px;
        height: 36px;
        display: block;
        margin: 0 auto;
    }
}

.page-content{
    p {
        margin-bottom: 10px;
        line-height: 24px;
    }

    h1{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    h2{
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    h3{
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    h4{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    figure {
        margin: 20px auto;
        border: 1px solid #efefef;
        border-radius: 4px;

        img {
            width: 100%;
            height: auto;
        }

        figcaption {
            font-size: 0.8rem;
            color: #999;
            text-align: center;
            padding: 10px;
        }
    }
}

.page-toc {
    background: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    display: table;
    margin-bottom: 1em;
    padding: 10px 20px 10px 10px;
    position: relative;
    width: auto;

    ul {
        margin-left: 20px;

        li {
            list-style: square;
        }
    }
}

.nestlab_callnow {
    position: fixed;
    display: block;
    bottom: 40px;
    left: 50px;
    z-index: 999;
    transition: all .6s;
}

.nestlab_callnow .nestlab_callnow_action {
    position: relative;
    display: block;
    z-index: 5;
}

.nestlab_callnow .nestlab_callnow_action img {
    width: 50px;
    height: auto;
    position: relative;
    display: block;
    background: #f00;
    border-radius: 50px;
    animation: phonering-alo-circle-img-anim 1.1s infinite ease-in-out;
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    10% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }

    20% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    30% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }

    40% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

.nestlab_callnow .nestlab_callnow_fill {
    position: absolute;
    transform-origin: center;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background: rgba(255, 0, 0, 0.15);
    animation: skill5 3s infinite;
    transition-timing-function: ease-out;
    display: block;
    border: 1px solid rgb(249, 35, 34);
}

@keyframes skill5 {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    30% {
        opacity: 0.8;
        transform: scale(1.8);
    }

    60% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.nestlab_callnow .nestlab_callnow_border {
    position: absolute;
    transform-origin: center;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    background: radial-gradient(rgba(255, 85, 85, 0.14), rgba(255, 56, 56, 0));
    animation: skill6 3s infinite;
    transition-timing-function: ease-out;
    display: block;
    border: 1px solid rgb(250, 40, 40);
}

.nestlab_callnow .nestlab_callnow_action {
    transition: all .2s;
    z-index: 3;
    transition-timing-function: ease-out;
    box-shadow: 1px 1px 7px -2px rgba(6, 33, 60, 0.38);
    border-radius: 50px;
}

.nestlab_callnow .nestlab_callnow_fill,
.nestlab_callnow .nestlab_callnow_border {
    z-index: 2;
}

.nestlab_callnow:hover a {
    z-index: 5;
    transform: scale(1.1);
}

@keyframes skill6 {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    36% {
        opacity: 1;
        transform: scale(0);
    }

    66% {
        opacity: 0.8;
        transform: scale(2.0);
    }

    96% {
        opacity: 0;
        transform: scale(2.0);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

.nestlab-zalo {
    display: block;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    bottom: 36px;
    right: 44px;
    z-index: 99999;
}

.nestlab-zalo:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 139, 255, .21), rgba(16, 112, 220, .7));
    border-radius: 100px;
    opacity: 0;
    animation: callzalobefore 10s infinite;
    transition-timing-function: linear;
}

.nestlab-zalo a {
    background: #1070dc;
    display: block;
    position: relative;
    border-radius: 50px;
    animation: callzalos 10s infinite;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, .2);
}

.nestlab-zalo a:before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 139, 255, .45), rgba(16, 112, 220, .2));
    border-radius: 100px;
    opacity: 0;
    animation: callzaloafter 10s infinite;
    transition-timing-function: linear;
}

.nestlab-zalo a img {
    background: #d6d6d6;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    margin: 6px;
    animation: callzaloimg 10s infinite;
}

@keyframes callzaloimg {
    0% {
        background: #d6d6d6;
        transform: scale(1)
    }

    10% {
        background: #d6d6d6;
        transform: scale(1) rotate(0deg)
    }

    12% {
        transform: scale(.8) rotate(0deg)
    }

    18% {
        transform: scale(1.2) rotate(360deg);
        background: rgba(214, 214, 214, 0)
    }

    70% {
        transform: scale(1.2) rotate(360deg);
        background: rgba(214, 214, 214, 0)
    }

    80% {
        background: #1070dc;
        transform: scale(.4)
    }

    85% {
        transform: scale(1.1)
    }

    90% {
        background: #1070dc
    }

    100% {
        background: #d6d6d6;
        transform: scale(1)
    }
}

@keyframes callzalos {
    0% {
        background: #fff
    }

    10% {
        background: #fff
    }

    18% {
        background: #1070dc
    }

    70% {
        background: #1070dc
    }

    80% {
        background: #fff
    }

    100% {
        background: #fff
    }
}

@keyframes callzalobefore {
    0% {
        opacity: 0;
        transform: scale(1)
    }

    10% {
        opacity: 0;
        transform: scale(.9)
    }

    18% {
        opacity: 1;
        transform: scale(1.1)
    }

    18.2% {
        opacity: 0
    }

    20% {
        opacity: 0;
        transform: scale(.9)
    }

    20.2% {
        opacity: 1
    }

    28% {
        opacity: .1;
        transform: scale(1.25)
    }

    30% {
        opacity: 0;
        transform: scale(.9)
    }

    30.2% {
        opacity: 1
    }

    38% {
        opacity: .2;
        transform: scale(1.4)
    }

    40% {
        opacity: 0;
        transform: scale(.9)
    }

    40.2% {
        opacity: 1
    }

    48% {
        opacity: .3;
        transform: scale(1.55)
    }

    50% {
        opacity: 0;
        transform: scale(.9)
    }

    50.2% {
        opacity: 1
    }

    58% {
        opacity: .4;
        transform: scale(1.7)
    }

    60% {
        opacity: 0;
        transform: scale(.9)
    }

    60.2% {
        opacity: 1
    }

    68% {
        opacity: .5;
        transform: scale(1.85)
    }

    90% {
        opacity: 0;
        transform: scale(1)
    }

    90.2% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes callzaloafter {
    0% {
        opacity: 0;
        transform: scale(1)
    }

    12% {
        opacity: 0;
        transform: scale(.9)
    }

    20% {
        opacity: 1;
        transform: scale(1.2)
    }

    20.2% {
        opacity: 0
    }

    22% {
        opacity: 0;
        transform: scale(.9)
    }

    22.2% {
        opacity: 1
    }

    30% {
        opacity: .5;
        transform: scale(1.5)
    }

    32% {
        opacity: 0;
        transform: scale(.9)
    }

    32.2% {
        opacity: 1
    }

    40% {
        opacity: .4;
        transform: scale(1.8)
    }

    42% {
        opacity: 0;
        transform: scale(.9)
    }

    42.2% {
        opacity: 1
    }

    50% {
        opacity: .3;
        transform: scale(2.1)
    }

    52% {
        opacity: 0;
        transform: scale(.9)
    }

    52.2% {
        opacity: 1
    }

    60% {
        opacity: .2;
        transform: scale(2.4)
    }

    62% {
        opacity: 0;
        transform: scale(.2)
    }

    62.2% {
        opacity: 1
    }

    70% {
        opacity: .5;
        transform: scale(3.7)
    }

    98% {
        opacity: 0;
        transform: scale(1)
    }

    98.2% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}
